*.[oa]
*.so
*.dylib
*.pyc
*~
.DS_Store
TAGS
*egg-info
lib/fftw_wisdom.txt
bin/GBT350filterbank
bin/accelsearch
bin/bary
bin/bincand
bin/cal2mjd
bin/check_parkes_raw
bin/dat2sdat
bin/dftfold
bin/downsample
bin/dump_spigot_zerolag
bin/exploredat
bin/explorefft
bin/fitsdelcol
bin/fitsdelrow
bin/makedata
bin/makeinf
bin/mjd2cal
bin/mpiprepsubband
bin/patchdata
bin/plotbincand
bin/prepdata
bin/prepfold
bin/prepsubband
bin/psrorbit
bin/psrfits_dumparrays
bin/quicklook
bin/readfile
bin/realfft
bin/rednoise
bin/rfifind
bin/sdat2dat
bin/search_bin
bin/search_rzw
bin/shiftdata
bin/show_pfd
bin/spigot2filterbank
bin/spigotSband2filterbank
bin/split_parkes_beams
bin/swap_endian
bin/taperaw
bin/toas2dat
bin/un_sc_td
bin/weight_psrfits
bin/window
bin/zapbirds
lib/python/ppgplot/
lib/python/presto/
python/build/
src/slalib/sla_test
src/makewisdom
src/fftw_wisdom.txt
MANIFEST
.venv*/
dist/
.mypy_cache/
