*.[oa]
*.so
*.dylib
*.pyc
*~
.DS_Store
TAGS
*egg-info
lib/fftw_wisdom.txt
lib/python/ppgplot/
lib/python/presto/
python/build/
src/makewisdom
src/fftw_wisdom.txt
MANIFEST
.venv*/
dist/
.mypy_cache/
.vscode/
build/
