*.[oa]
*.so
*.dylib
*.pyc
*~
.DS_Store
TAGS
*egg-info
lib/fftw_wisdom.txt
lib/python/ppgplot/
lib/python/presto/
python/build/
src/makewisdom
src/fftw_wisdom.txt
MANIFEST
.venv*/
dist/
.mypy_cache/
.vscode/
build/
examplescripts/ppdot_*.png
tests/prepfold/*pfd*
tests/prepfold/Ter5*inf
tests/prepfold/*.sub*
tests/prepfold/*rfifind*
tests/prepfold/*ACCEL*
tests/prepfold/*.dat
tests/prepfold/*.fits
tests/prepfold/output.txt
tests/prepfold/__pycache__
agent_instructions/
AGENTS.md